.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  width: 40%;
  margin-left: 3rem;
  padding: 2rem;
  border-radius: 10px;
}

.form input[type='submit'] {
  margin-top: 1rem;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  font: unset;
  font-size: 0.9rem;
  cursor: pointer;
}

.form p {
  margin-top: 1rem;
}

.form span {
  margin-left: 0.25rem;
  color: #007bff;
}
