.container {
  display: flex;
  border: solid 1px red;
}

.left {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: center; */
  width: 50%;
  height: 100vh;
  border: solid 1px green;
}

.infoTitles {
  width: 20%;
}

.infoItems {
  /* margin: 0.5rem 0;
  border: solid 1px black;
  border-radius: 5px;
  padding: 1rem 2rem; */
}

.infoTitles p,
.infoItems p {
  margin: 0.5rem 0;
  font-size: large;
}

.right {
  margin: auto 0;
  padding-right: 3rem;
}

.right p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form p {
  margin-top: 1rem;
}

.form p span {
  margin-left: 0.25rem;
  color: #007bff;
}

.errorMessage {
  padding-bottom: 1rem;
  color: red;
}
